<ion-header>

  <ion-navbar>
    <ion-title> {{ product.title }} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-fab right top edge (click)="openCart()">
    <button ion-fab color="danger"><ion-icon name="cart"></ion-icon></button>
  </ion-fab>

  <ion-card>
    <ion-slides autoplay="3000" loop="true">
      <ion-slide *ngFor="let image of product.images">
        <img [src]="image.src" />
      </ion-slide>
    </ion-slides>

    <ion-card-content>
      <ion-card-title>
        {{ product.title }} &nbsp;
        <ion-chip *ngFor="let cat of product.categories" style="margin-left: 5px;">
          <ion-label color="danger"> {{ cat }} </ion-label>
        </ion-chip>
      </ion-card-title>

      <p [innerHTML]="product.description"></p>

    </ion-card-content>


  </ion-card>

  <ion-card *ngIf="product.variations.length > 0">
    <ion-item-divider color="light">Product options</ion-item-divider>
    <ng-container *ngFor="let attribute of product.attributes">
      <ion-item *ngIf="attribute.variation">
        <ion-label> {{ attribute.name | titlecase }}</ion-label>
        <ion-select interface="popover" [(ngModel)]="selectedOptions[attribute.name]" (ionChange)="check(attribute.name)">
          <ion-option *ngFor="let option of attribute.options" [value]="option">{{ option }}</ion-option>
        </ion-select>
      </ion-item>
    </ng-container>
  </ion-card>

  <ion-card *ngIf="product.attributes.length > 0">
    <ion-card-content>
      <ion-card-title>
        Specifications
      </ion-card-title>

      <ion-grid>
        <ion-row *ngFor="let att of product.attributes">
          <ion-col col-4>
            {{ att.name}}
          </ion-col>
          <ion-col col-8>
            <span *ngFor="let option of att.options"> {{ option }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="reviews.length > 0">
    <ion-card-content>
      <ion-card-title>
        Reviews
      </ion-card-title>

      <ion-grid>
        <ion-row *ngFor="let review of reviews">
          <ion-col col-4>
            <b>{{ review.reviewer_name }}</b><br/>
            <span *ngIf="review.rating >= 1">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 2">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 3">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 4">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 5">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>

          </ion-col>
          <ion-col col-8>
            {{ review.review }}
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button icon-left block outline color="danger" (click)="addToCart(product)">
      <ion-icon name="basket"></ion-icon> {{ requireOptions ? 'Select Product Options' : 'Add to Cart for ' + '$' + ' ' + productPrice}}
    </button>
  </ion-toolbar>
</ion-footer>