<ion-header>

  <ion-navbar>
    <ion-title> {{ product.title }} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<ion-card>
  <ion-slides autoplay="3000">
    <ion-slide *ngFor="let image of product.images">
      <img [src]="image.src" />
    </ion-slide>
  </ion-slides>

  <ion-card-content>
    <ion-card-title>
      {{ product.title }} &nbsp;
      <ion-chip *ngFor="let cat of product.categories" style="margin-left: 5px;">
        <ion-label color="danger"> {{ cat }} </ion-label>
      </ion-chip>
    </ion-card-title>

    <p [innerHTML]="product.description"></p>

    <button ion-button icon-left block outline color="danger">
      <ion-icon name="basket"></ion-icon> Add to Cart
    </button>

  </ion-card-content>


</ion-card>

</ion-content>
